@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Inter Tight", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;

    opacity: 1;

    transition: all .3s;

    &:hover {
        opacity: .7;
    }
}